<style type="text/css">
	ul {
		margin: 0;
		padding: 0;
	}
	ul li {
		list-style: none;
	}
	#div {
		height: 270px;
		width: 200px;
	}

	#div div label {

	}

	.storemenu {

	}
	#div ul li {
		float: center;
		position: relative;
		padding: 0px 30px;
		height: 36px;
		line-height: 36px;
		font-weight: bold;
	}
	#div ul li ul {
		position: absolute;
		top: 0px;
		left: 40px;
		display: none;
		width: 120px;
		background: #CC0000;
		z-index: 900;
	}
	#div ul li ul li {
		display: block;
		line-height: 26px;
		background-color: #dddddd;
		padding: 0px 12px;
		border-bottom: 1px #ffffff solid;
		font-weight: normal;
	}
	#div ul li a {
		color: #000000;
		text-decoration: none;
		font-size: 12px;
	}
	#div ul li a:hover {
		color: #cc0000;
	}
	#img1 {
		float: right;
		position: relative;
		width: 20px;
		height: 20px;
	}
	#img2 {
		float: center;
		position: relative;
		margin-left: -20px;
		width: 180px;
		height: 180px;
	}
	#img3 {
		float: left;
		margin-left: -20px;
		width: 20px;
		height: 20px;
	}

	.hidden_lists {
		color: #000000;
		text-decoration: none;
		font-size: 12px;
	}

	.hidden_lists:hover {
		color: #cc0000;
		cursor: pointer;
	}

	.revealed_lists {
		color: #0000cc;
		text-decoration: none;
		font-size: 12px;
	}

	.revealed_lists:hover {
		color: #cc0000;
		cursor: pointer;
	}

	.hidden_menu:hover {
		background-color: #0000cc;
		cursor: pointer;
	}

	.revealed_menu {
		background-color: #0000cc;
		cursor: pointer;
	}


</style>
<script type="text/javascript">
$(document).ready(function() {	
		$("#store_<%=item_thumbnail.id%>").live('click', function() {
			var id = $(this).attr("id");	
			if($(this).hasClass("hidden_menu"))
			{
				$(this).removeClass("hidden_menu");
				$(this).addClass("revealed_menu");
				$("#" + id + "_menu").slideDown();
			}
			else
			{
				$(this).removeClass("revealed_menu");
				$(this).addClass("hidden_menu");
				$("#" + id + "_menu").slideUp();
			}
		});

		$("#add_to_lists_<%=item_thumbnail.id%>").live('click', function(e) {

			if($(this).hasClass("hidden_lists"))
			{
				$(this).removeClass("hidden_lists");
				$(this).addClass("revealed_lists");
				$.ajax( {
					url: "/showpossiblelists",
					data: {
						store_id : <%= item_thumbnail.id %>
					},
					success: function(html) {
						$("#add_to_lists_<%= item_thumbnail.id %>_menu").html(html);
					}
				});
			}
			else
			{
				$(this).removeClass("revealed_lists");
				$(this).addClass("hidden_lists");
				$("#add_to_lists_<%= item_thumbnail.id %>_menu").html('');
			}

			return false;
		});

		$("#remove_from_lists_<%=item_thumbnail.id%>").live('click', function(e) {

			if($(this).hasClass("hidden_lists"))
			{
				$(this).removeClass("hidden_lists");
				$(this).addClass("revealed_lists");
				$.ajax( {
					url: "/showcurrlists",
					data: {
						store_id : <%= item_thumbnail.id %>
					},
					success: function(html) {
						$("#remove_from_lists_<%= item_thumbnail.id %>_menu").html(html);
					}
				});
			}
			else
			{
				$(this).removeClass("revealed_lists");
				$(this).addClass("hidden_lists");
				$("#remove_from_lists_<%= item_thumbnail.id %>_menu").html('');
			}
			return false;
		});
});

</script>

<div id="div" class='item_thumbnail'>
	<div id="store_<%= item_thumbnail.id %>" class="hidden_menu"><img id="img1" src="../../assets/plus.png" /></div>
	<ul>
		<li>
			<a href="#">aaaaaa</a>
			<ul id="store_<%= item_thumbnail.id %>_menu" class="storemenu">
				<li>
					<div id="add_to_lists_<%= item_thumbnail.id %>" class="hidden_lists">Add To List</div>
				</li>
				<div id="add_to_lists_<%= item_thumbnail.id %>_menu" ></div>
				<li>
					<div id="remove_from_lists_<%= item_thumbnail.id %>" class="hidden_lists">Remove From list</div>
				</li>
				<div id="remove_from_lists_<%= item_thumbnail.id %>_menu" ></div>
				<li>
					<a href="#">View Reviews</a>
				</li>
				<li>
					<a href="#">Add to Favorites</a>
				</li>
				<li>
					<a href="#">BookMark</a></li
			</ul>
		</li>
	</ul>
	<div>
		<img id="img2" src="../../assets/plus.png" />
		<img id="img3" src="../../assets/plus.png" />
		<%= item_thumbnail.name %>
	</div>
</div>
