<div id="div" class='item_thumbnail span3'>
	<ul class="thumbnails">
		<li class="span3">
			<div class="thumbnail">
				<%= render :partial => "stores/thumbnail_dropdown", :locals => {:store => item_thumbnail, :lists => lists }%>
			
                <img src="" /> 
				<h4><a href='/stores/<%= item_thumbnail.id %>'><span><%= item_thumbnail.name%></span></a></h4>
				<address>
				    <% if item_thumbnail.street_1 %><%= item_thumbnail.street_1%><br/><% end %>
				    <% if item_thumbnail.street_2 != "" %><%= item_thumbnail.street_2 %><br/><% end %>
				    <% if item_thumbnail.city!="" && item_thumbnail.state!=""%><%= item_thumbnail.city %>, <%= item_thumbnail.state %> <%end%>
				    <% if item_thumbnail.zipcode!=""%><%= item_thumbnail.zipcode %><% end%>
				    <% if defined? user_id %>
				    <br/>
				    <% if default_lists[item_thumbnail.id][:favorite] %>Favorite!<% end %>
				    <% if default_lists[item_thumbnail.id][:been_to] %><br/>Been to!<% end %>
				    <% if default_lists[item_thumbnail.id][:want_to] %><br/>Want to!<% end %>
				    <% end %>
				</address>
			</div>
		</li>
	</ul>
</div>
