<div>
	<%= link_to 'Sign Out', signout_path %> 
</div>


<%= form_for @store, :url => { :action => :create },:html => {:multipart => true}  do |f|%>
<table width="100%">
	<tr>
		<th width="30%" align="left">Photos</th>
		<th width="70%" align="left">basic Information</>
	</tr>
	<tr>
		<td>
			<table border="1" width="100%"></table>
		</td>
		<td>
			<table border="1" width="100%"></table>
		</td>
	</tr>

	<tr>
		<td>
			<table>
				<tr>
					<td width="100%" height="100px">
						<%= image_tag("rails.png")
# => <img alt="Rails" src="http://www.google.com/imgres?imgurl=http://www.takepart.com/sites/default/files/styles/tp_promo_feature_thumbnail/public/seaweed.jpg&imgrefurl=http://www.takepart.com/foodinc&h=222&w=298&sz=20&tbnid=ahU7p7l4smVbrM:&tbnh=92&tbnw=124&zoom=1&docid=71to5XWNETbiBM&itg=1&hl=en&sa=X&ei=ldKlT6bxD8raiQLVicnVAg&ved=0CHgQ9QEwAw&dur=123" />
			%>
						</td>
				</tr>
				<tr>
					<td>
						<p><label for="upload_file">Select File</label> : 
						<%= file_field_tag(:upload, :accept => 'image/png,image/gif,image/jpeg') %></p>
					</td>
				</tr>
				</table>
			
			</td>
		<td>
			<table>
				<tr>
					<td><%= f.label :name, "Restaurant Name:" %></td>
					<td><%= f.text_field :name %></td>

				</tr>
				<tr>
					<td><%= f.label :hours, "Opening Time:" %></td>
					<td><%= f.text_field :hours %></td>

				</tr>
				<tr>
					<td><%= f.label(:street_1, "Restaurant Street 1:") %></td>
					<td><%= f.text_field(:street_1) %></td>

				</tr>
				<tr>
					<td><%= f.label(:street_2, "Restaurant Street 2:") %></td>
					<td><%= f.text_field(:street_2) %></td>

				</tr>
				<tr>
					<td><%= f.label(:city, "Restaurant City:") %></td>
					<td><%= f.text_field(:city) %></td>

				</tr>
				<tr>
					<td><%= f.label(:state, "Restaurant State:") %></td>
					<td><%= f.text_field(:state) %></td>
				</tr>
				<tr>
					<td><%= f.label(:zipcode, "Zip Code:") %></td>
					<td><%= f.text_field(:zipcode) %></td>
				</tr>
				<tr>
					<td><%= f.label(:telephone, "Phone Number:") %></td>
					<td><%= f.text_field(:telephone) %></td>
				</tr>
				<tr>
					<td><%= f.label(:website, "Website:") %></td>
					<td><%= f.text_field(:website) %></td>
				</tr>
				<tr>

					<td></td>

					<td><%= f.submit("Submit") %></td>
				</tr>
				</tr>
			</table>
		</td>
	</tr>
</table>
<% end %>

