<h1>Create a new store!</h1>

<%= form_for @store, :url => { :action => :create } do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :detail_info %><br />
    <%= f.text_field :detail_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
