<div class='span3 well'>
	<img src="<%= @store.pic %>"/>
	<img src="http://placekitten.com/200/200" />
</div>

<div class="span8 well display-table">
	<h3><%= @store.name%></h3>
	<div class='display-row'>
		<div class='display-label'>
			Opening Time
		</div>
		<div class='display-info'>
			<% if @store.hours!="" %><%= @store.hours %><% else %>None Listed<% end %>
		</div>
	</div>
	<div class='display-row'>
		<div class='display-label'>
			Phone Number
		</div>
		<div class='display-info'>
			<% if @store.telephone!="" %><%= @store.telephone %><% else %>None Listed<% end %>
		</div>
	</div>
	<div class='display-row'>
		<div class='display-label'>
			Website
		</div>
		<div class='display-info'>
			<% if @store.website!="" %><%= @store.website %><% else %>None Listed<% end %>
		</div>
	</div>
	<div class='display-row'>
		<div class='display-label'>
			Address
		</div>
		<div class='display-info'>
			<address>
				<% if @store.street_1 %><%= @store.street_1%>
				<br/>
				<% end %>
				<% if @store.street_2 != "" %><%= @store.street_2 %>
				<br/>
				<% end %>
				<% if @store.city!="" && @store.state!=""%><%= @store.city %>, <%= @store.state %> <%end%>
				<% if @store.zipcode!=""%><%= @store.zipcode %><% end%>
			</address>
		</div>
	</div>
</div>

<%= render :partial => "tags_and_reviews.html.erb", :locals=>{:store_user_review=>@store_user_review, :store_review =>@store_review, :store=>@store }%>

