<div id='search_bar'>
<%= form_tag("/search", :method => "search") do %>
  <%= label_tag(:searchfor, "Search for:") %>
  <%= text_field_tag(:searchfor) %>
  <%= hidden_field_tag(:user_id, @user.id)%>
  <%= submit_tag("Search") %>
<% end %>

</div>
