<p id="notice">
	<%= notice %>
</p>
<div id='top_nav'>
	<%= render :partial => "users/basic_information", :locals => { :user => @user }%>
	<div id='advertisement'>
		<%= image_tag "ad.jpg" %>
	</div>
</div>

<div id='body_wrapper'>
	<div id="left_nav">
		<%= render :partial => "lists/list_display", :locals => { :lists => @lists, :current_list => @current_list, :user => @user} %>
	</div>
	<div id ="main_nav">
		<% if @current_list %>
		<div class='title'>
			<h2><%= @current_list.name %></h2>
		</div>
		<%= render :partial => "stores/item_thumbnail", :collection => @stores, :locals => { :stores => @stores, :current_list => @current_list } || "No stores in this list" %>
		<% end %>
	</div>
</div>

<div id='test'>
	<h2>Available Stores (Simulated Search Results)</h2>
	<% if @available_stores %>
	<%= render :partial => "stores/item_thumbnail", :collection => @available_stores, :locals => { :stores => @stores, :current_list => @current_list } || 'No stores Available.' %>
	<% end %>
</div>

