<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @user.first_name %>
</p>

<p>
	<b>Last Name</b>
	<%= @user.last_name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Create List', createlist_path %><br/>
<%= link_to 'Add Store', addstore_path %><br/>
<p>
	<table border="1px">
		<tr>
			<td valign="top">
				<table>		
						<b>Lists:</b><br/>
						<% @lists.each do |list| %>
    					<tr><td>
    					<%= if list.id.to_i != params[:cur_list].to_i
    						link_to list.name, "/users/#{session[:user_id]}/#{list.id}"
    					else
    						list.name	
    					end 
    					%>
    					</td>
    					<td>
    					<%=link_to "Edit", '#'%>
    					<%=link_to "Delete", "/deletelist/#{list.id}" %>
    					</td></tr>
  						<% end %>  
  				</table>
  			</td>
  			<td valign="top">
  				<table>
  					<b>List Items:</b><br/>
  					
  					<% if @stores 
  						@stores.each do |store| %>
  					<tr><td>
  					<%= store.name %>
  					</td></tr>
  					<% end
  					end %>
  				</table>
  			</td>
        <td valign="top">
          <table>
            <b>Available Stores (Simulated Search Results)</b><br/>

            <% if @available_stores
              @available_stores.each do |store| %>
              <tr>
                  <td>
                    <%=store.name %>
                  </td>
                  <td>
                     <%= link_to 'Add to Current List', "/addtolist/#{params[:cur_list]}/#{store.id}" %>
                     <%= link_to 'Remove From Current List', '#' %> 
                  </td>  
            </tr>
            <% end 
            end%>
          </table>
        </td>
  		</tr>
  	</table>
 </p>
<%= link_to 'Sign Out', '/signout' %>  	

