<div id='top_nav' class='row'>
	<div class='span4'>
		<div id='basic_information' class='well'>
			<%= render :partial => "users/basic_information", :locals => { :user => @user }%>
		</div>
	</div>
	<div id='advertisement' class='span8 '>
		<img src="http://placehold.it/650x200">
	</div>
</div>

<div id='body_wrapper' class='row'>
	<div id="left_nav" class='span3 well' style='padding: 8px 0;'>
		  <%= render :partial => "lists/list_display", :locals => { :lists => @lists, :current_list => @current_list, :user => @user} %>
	</div>

	<div id ="main_nav" class='span9'>
		<% if @current_list %>
		<div class='title'>
			<h2><%= @current_list.name %></h2>
		</div>
		<%= render :partial => "stores/item_thumbnail", :collection => @stores, :locals => { :stores => @stores, :current_list => @current_list, :lists => nil} || "No stores in this list" %>
		<% end %>
	</div>
</div>

<div id='test'>
	<h2>Available Stores (Simulated Search Results)</h2>
	<% if @available_stores %>
	<%= render :partial => "stores/item_thumbnail", :collection => @available_stores, :locals => { :stores => @stores, :current_list => @current_list, :lists => nil } || 'No stores Available.' %>
	<% end %>
</div>

<p id="notice">
    <%= notice %>
</p>

